---
---
<!-- <br> -->

<div>
  <!-- <section class="blog-post  max-w-none prose-bubblegum"> -->
  <section id="participate">

    <span class="
          pl-6 relative block leading-[150%]
          after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-green
        ">
        <div id="participate-div" style="display: flex; align-items: center;">
          <svg id="participate-plot" style="width:800px"></svg>
          <div style="clear:both; font-size:15px">
            <span style="font-size: 25px;">
              <strong>Participate in a CF process</strong> 
            </span>
              <br> As a participant in a convergent facilitation process, you will be part of a collaborative decision-making effort that values divergent inputs and perspectives. You will have the opportunity to share your needs and concerns openly, with out fear of judgment or criticism. Together, you will work towards finding a creative solution that everyone can accept as their own.
          </div>
         </div>

      </span>

      <p style="text-align: right;"> 
        <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:39%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-green dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>» Hear about others' experiences.</strong></span>
        </a>
      </p>
  </section>

  <section id="grow">

        <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-purple
          ">
          <div id="grow-div" style="display: flex; align-items: center;">
            <svg id="grow-plot" style="width:900px"></svg>
            <div style="clear:both; font-size:15px">
              <span style="font-size: 25px;">

          <strong>Learn and teach CF</strong> 
            </span>
          <br> In our collaborative Convergent Facilitation learning community you are part of a supportive and inclusive group that values open communication and mutual respect. You are invited to share you learning needs and challenges as well as offer you experience and skills. You can participate in peer-based practice groups and join experienced facilitators in real-life processes as apprentices.
        </div>
      </div>   
        </span>

          <p style="text-align: right;"> 
      
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:34%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-purple to-primary-purple dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>»  Join our learning community</strong></span>
          </a>
        </p>
  </section>
  <section id="support">
    <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-blue
          ">
          <div id="support-div" style="display: flex; align-items: center;">
            <svg id="support-plot" style="width:650px"></svg>
            <div style="clear:both; font-size:15px">
              <span style="font-size: 25px;">
              <strong>Receive CF facilitation support</strong>
            </span> 
          <br> An experienced Convergent Facilitation facilitator will create a safe space within which everyone can voice what is important to them, translate what people say into something that everyone can relate to, and support with coming to a decision that everyone can embrace as their own.
        </div>
      </div>
        </span>

        <p style="text-align: right;"> 
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:26%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-yellow" href="blog">
            <span style="text-align: right"> <strong>» Find an experienced CF facilitator</strong></span>
          </a>
        </p>
  </section>
  <section id="soil">

        <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-yellow
          ">
          <div id="soil-div" style="display: flex; align-items: center;">

            <svg id="soil-plot" style="width:600px"></svg>
            <div style="clear:both; font-size:15px">
              <span style="font-size: 25px;">
          <strong>Join us in growing CF</strong>
              </span>
          <br> We gift [note: add link here to gifting] our time and energy to the stewarding of the learning community gift and facilitation of CF processes. To sustain the current work and to bring CF to many more people we need more helping hands, hearts  also financial support.
        </div>
      </div>  
        </span>

        <p style="text-align: right;"> 
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:39%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>» Learn how you can contribute</strong></span>
          </a>
        </p>

  </section>

<!-- <script is:inline src="/src/scripts/participate.js"/> -->
<!-- <script is:inline src="/src/scripts/grow.js"/>
<script is:inline src="/src/scripts/fertilesoil.js"/>
<script is:inline src="/src/scripts/support.js"/> -->

<script is:inline>

function participate(){


  var width = 150,
    height = 150;
  var color = d3.scale.category20();
  var radius = 7
  
  var force = d3.layout.force()
    .charge(-22)
    .friction(0.8)
    .linkDistance(30)
    .size([width, height]);
  
  var svg = d3.select("#participate-plot").append("svg")
    .attr("width", width)
    .attr("height", height)
  
  var graph = getData();
  console.log("GRAPH", graph)
  var nodes = graph.nodes;
  var nodeMap = {};
  
  graph.nodes.forEach(function(d) { nodeMap[d.name] = d; });
  console.log("nodeMap", nodeMap)
  graph.links.forEach(function(l) {
    l.source = nodeMap[l.source];
    l.target = nodeMap[l.target];
  })
  
  force.nodes(graph.nodes)
    .links(graph.links)
    .start();
  
  var link = svg.selectAll(".link")
    .data(graph.links)
    .enter().append("line")
    .attr("class", "link")
    .style("stroke-width", function(d) {
        return Math.sqrt(d.value)+1;
    });
  
  var node = svg.selectAll(".node")
    .data(graph.nodes)
    .enter().append("circle")
    .attr("class", "node")
    .attr("r", radius)
    .style("fill", function(d) { return d.group; })
    .call(force.drag);

  node.append("title")
    .text(function(d) { return d.name; });
  
  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
  
    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
  
  
  function getData() {
  
  return {
  "nodes":[
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
      {"name":"Participant","group":"#bef264"},
  
  ],
  "links":[
   
  ] };    
    
  }
}
participate();
function remove(){
  var svg = d3.select("#participate-plot")
  svg.selectAll("*").remove();

}

function redraw () {
  remove();
  participate();
}
document.getElementById('participate-div').addEventListener('mouseenter', redraw);

</script>

<script>
function grow(){

var width = 150,
    height = 150;
var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-40)
    .friction(0.8)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#grow-plot").append("svg")
    .attr("width", width)
    .attr("height", height);

var graph = getData();
console.log("GRAPH", graph)
var nodes = graph.nodes;
var nodeMap = {};

graph.nodes.forEach(function(d) { nodeMap[d.name] = d; });
console.log("nodeMap", nodeMap)
graph.links.forEach(function(l) {
    l.source = nodeMap[l.source];
    l.target = nodeMap[l.target];
})

force.nodes(graph.nodes)
    .links(graph.links)
    .start();

var link = svg.selectAll(".link")
    .data(graph.links)
    .enter().append("line")
    .attr("class", "link")
    .style("stroke-width", function(d) {
        return Math.sqrt(d.value)+1;
    });

var node = svg.selectAll(".node")
    // .remove()
    .data(graph.nodes)
    .enter().append("circle")
    .attr("class", "node")
    .attr("r", function (d) {return d.radius})
    .style("fill", function(d) { return d.group; })
    .call(force.drag);


node.append("title")
    .text(function(d) { return d.name; });

force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
});


function getData() {

  return {
  "nodes":[
    // {"name":"stkbl0001","group":"#8ae6fb", "radius":5},
    // {"name":"stkbl0001","group":"#8ae6fb", "radius":5},
    // {"name":"stkbl0001","group":"#8ae6fb", "radius":5},
    // {"name":"stkbl0001","group":"#8ae6fb", "radius":5},
    {"name":"stkbl0001","group":"#FF6BFA", "radius":3},
    {"name":"stkbl0001","group":"#FF6BFA", "radius":5},
    {"name":"stkbl0001","group":"#FF6BFA", "radius":8},
    {"name":"stkbl0001","group":"#FF6BFA", "radius":7},
    {"name":"stkbl0001","group":"#FF6BFA", "radius":10},
    // {"name":"stkbl0001","group":"#FF6BFA", "radius":9},
    {"name":"stkbl0001","group":"#FF6BFA", "radius":15},
    // {"name":"stkbl0001","group":"#FF6BFA", "radius":20},

   
  ],
  "links":[
    // {"source":"stkbl0001","target":"stkbl0005","value":3},
    // {"source":"stkbl0002","target":"stkbl0005","value":3},
    // {"source":"stkbl0003","target":"stkbl0005","value":3},
    // {"source":"stkbl0004","target":"stkbl0005","value":3}
  ] };    
    
}
}
// })()
grow();

function remove(){
  var svg = d3.select("#grow-plot")
  svg.selectAll("*").remove();

}

function redraw () {
  remove();
  grow();
}
document.getElementById('grow-div').addEventListener('mouseenter', redraw);

</script>

<script>

function support(){
var width = 150,
  height = 150;
var color = d3.scale.category20();
var radius = 7

var force = d3.layout.force()
  .charge(-30)
  .friction(0.8)
  .linkDistance(30)
  .size([width, height]);

var svg = d3.select("#support-plot").append("svg")
  .attr("width", width)
  .attr("height", height);

var graph = getData();
console.log("GRAPH", graph)
var nodes = graph.nodes;
var nodeMap = {};

graph.nodes.forEach(function(d) { nodeMap[d.name] = d; });
console.log("nodeMap", nodeMap)
graph.links.forEach(function(l) {
  l.source = nodeMap[l.source];
  l.target = nodeMap[l.target];
})

force.nodes(graph.nodes)
  .links(graph.links)
  .start();

var link = svg.selectAll(".link")
  .data(graph.links)
  .enter().append("line")
  .attr("class", "link")
  .style("stroke-width", function(d) {
      return Math.sqrt(d.value)+1;
  });

var node = svg.selectAll(".node")
  .data(graph.nodes)
  .enter().append("circle")
  .attr("class", "node")
  .attr("r", function(d) { return d.radius; })
  .style("fill", function(d) { return d.group; })
  .call(force.drag);


node.append("title")
  .text(function(d) { return d.name; });

force.on("tick", function() {
  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
});


function getData() {

return {
"nodes":[
  {"name":"Facilitator","group":"#8ae6fb", "radius":13},

  {"name":"Participant","group":"#8ae6fb", "radius":radius},
  {"name":"Participant","group":"#8ae6fb", "radius":radius},
  {"name":"Participant","group":"#8ae6fb", "radius":radius},
  {"name":"Participant","group":"#8ae6fb", "radius":radius},
  {"name":"Participant","group":"#8ae6fb", "radius":radius},
  {"name":"Participant","group":"#8ae6fb", "radius":radius},
  {"name":"Participant","group":"#8ae6fb", "radius":radius},

],
"links":[
 
] };    
  
}

}

support();
function remove(){
  var svg = d3.select("#support-plot")
  svg.selectAll("*").remove();

}

function redraw () {
  remove();
  support();
}
document.getElementById('support-div').addEventListener('mouseenter', redraw);


</script>

<script>
function soil(){

var width = 150,
    height = 150;
var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-40)
    .friction(0.8)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#soil-plot").append("svg")
    .attr("width", width)
    .attr("height", height);

var graph = getData();
console.log("GRAPH", graph)
var nodes = graph.nodes;
var nodeMap = {};

graph.nodes.forEach(function(d) { nodeMap[d.name] = d; });
console.log("nodeMap", nodeMap)
graph.links.forEach(function(l) {
    l.source = nodeMap[l.source];
    l.target = nodeMap[l.target];
})

force.nodes(graph.nodes)
    .links(graph.links)
    .start();

var link = svg.selectAll(".link")
    .data(graph.links)
    .enter().append("line")
    .attr("class", "link")
    .style("stroke-width", function(d) {
        return Math.sqrt(d.value)+1;
    });

var node = svg.selectAll(".node")
    .data(graph.nodes)
    .enter().append("circle")
    .attr("class", "node")
    .attr("r", function (d) {return d.radius})
    .style("fill", function(d) { return d.group; })
    .call(force.drag);


node.append("title")
    .text(function(d) { return d.name; });

force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
});


function getData() {

  return {
  "nodes":[
   
    {"name":"Soil","group":"#FFDE69", "radius":50},


   
  ],
  "links":[
    
  ] };    
    
}

}
soil();
// function remove(){
//   var svg = d3.select("#soil-plot")
//   svg.selectAll("*").remove();

// }

// function redraw () {
//   remove();
//   soil();
// }
// document.getElementById('soil-div').addEventListener('mouseenter', redraw);



</script>


