---
---

<div id="content">
  <h3
      class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
    <span class="
      pl-6 relative block leading-[150%]
      before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-green
    ">
      <!-- <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      > -->
What CF is all about      </span>
    </h3>

    <!-- <iframe
    class="aspect-video w-full"
    src="https://www.youtube.com/watch?v=xsPvRmUwEIE"
    title="Efficient Collaboration Through Convergent Facilitation with Paul Kahawatte"
    frame-border="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  > -->
  <iframe class="aspect-video w-full" src="https://www.youtube.com/embed/xsPvRmUwEIE" title="&quot;Efficient Collaboration Through Convergent Facilitation&quot; with Paul Kahawatte" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <p>
      Convergent Facilitation is a collaborative decision-making process that aims to find solutions that work for everyone involved. The process involves bringing together all stakeholders in a safe and respectful environment where they can share their perspectives and concerns. The facilitator's role is to guide the conversation, ask open-ended questions, and help participants identify common goals.

Participants are encouraged to listen actively, seek understanding, and express themselves honestly without judgment or criticism. Through this process of dialogue and exploration, participants begin to see new possibilities for resolving the issue at hand. As ideas emerge, the group works together to refine them into actionable proposals that address everyone's needs as much as possible.

The focus is on finding win-win solutions rather than compromising or sacrificing one party's interests over another's. Once a proposal has been developed, it is tested against various scenarios to ensure its feasibility and effectiveness before being implemented.

Throughout the entire process, trust-building exercises are used to foster mutual respect among participants and create an atmosphere of collaboration rather than competition or conflict. Ultimately, Convergent Facilitation seeks not only practical solutions but also deeper connections between people who may have previously seen each other as adversaries rather than partners in problem-solving
    </p>

    <h3
    class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
  >

  
</div>
<div id="impacts">
  <h3
      class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
    <span class="
      pl-6 relative block leading-[150%]
      before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-green
    ">
      <!-- <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      > -->
Impacts of Convergent Facilitation      </span>
    </h3>

    <p>
      Convergent Facilitation is a collaborative decision-making process that aims to find solutions that work for everyone involved. The process involves bringing together all stakeholders in a safe and respectful environment where they can share their perspectives and concerns. The facilitator's role is to guide the conversation, ask open-ended questions, and help participants identify common goals.

Participants are encouraged to listen actively, seek understanding, and express themselves honestly without judgment or criticism. Through this process of dialogue and exploration, participants begin to see new possibilities for resolving the issue at hand. As ideas emerge, the group works together to refine them into actionable proposals that address everyone's needs as much as possible.

The focus is on finding win-win solutions rather than compromising or sacrificing one party's interests over another's. Once a proposal has been developed, it is tested against various scenarios to ensure its feasibility and effectiveness before being implemented.

Throughout the entire process, trust-building exercises are used to foster mutual respect among participants and create an atmosphere of collaboration rather than competition or conflict. Ultimately, Convergent Facilitation seeks not only practical solutions but also deeper connections between people who may have previously seen each other as adversaries rather than partners in problem-solving
    </p>


  
</div>


</div>
<div id="impacts">
  <h3
      class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
    <span class="
      pl-6 relative block leading-[150%]
      before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-green
    ">
      <!-- <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      > -->
Stewarding of Convergent Facilitation      </span>
    </h3>

    <p>
      text about our teams, purpose, mission, goals, values
    </p>


  
</div>