---
---

<div>
  <section class="blog-post  max-w-none prose-bubblegum">
    <span class="
          pl-6 relative block leading-[150%]
          after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-green
        "><strong>Participating in a Convergent Facilitation process</strong> <br> As a participant in a convergent facilitation process, you will be part of a collaborative decision-making effort that values your input and perspective. You will have the opportunity to share your needs and concerns openly, without fear of judgment or criticism. Together, you will work towards finding a creative solution that everyone can accept as their own.
      </span>
      <p style="text-align: right;"> 
        <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:35%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-green dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>Hear about others' experiences.</strong></span>
        </a>
      </p>
    
    
    
    <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-purple
          "><strong>Learning to facilitate and apply the principles in everyday life</strong> <br> As a participant in a convergent facilitation process, you will be part of a collaborative decision-making effort that values your input and perspective. You will have the opportunity to share your needs and concerns openly, without fear of judgment or criticism. Together, you will work towards finding a creative solution that everyone can accept as their own.
        </span>

          <p style="text-align: right;"> 
      
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:30%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-purple to-primary-purple dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>Join our learning community</strong></span>
          </a>
        </p>

    <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-blue
          "><strong>Receiving support from an experienced CF facilitator</strong> <br> As a participant in a convergent facilitation process, you will be part of a collaborative decision-making effort that values your input and perspective. You will have the opportunity to share your needs and concerns openly, without fear of judgment or criticism. Together, you will work towards finding a creative solution that everyone can accept as their own.
        </span>

        <p style="text-align: right;"> 
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:60%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>Reach out to get support</strong></span>
          </a>
        </p>
  </section>
    </div>
<div>

</div>
<div>
  <ul class="mt-5">
    
    <li>
      <a
      class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:12%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-green dark:bg-none dark:hover:text-primary-yellow"
      href="blog"
    >
      <span><strong>Learning to facilitate apply the princples in everyday life.</strong></span>
    </a>
      <strong></strong>
      A colorful <a href="https://astro.build" target="_blank">Astro</a> theme built with <a href="https://tailwindcss.com">Tailwind</a>.
      <ul class="mt-5">
        <li>saldkfj</li>
      </ul>
    </li>
    <li>
      <a
      class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:12%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-purple to-primary-purple dark:bg-none dark:hover:text-primary-yellow"
      href="blog"
    >
      <span><strong>Receive facilitation support from an experienced CF facilitator.</strong></span>
    </a>
      Fast by default. Blogster templates are engineered to be performant 
      and load before you could blink, even when not cached.
    </li>
    <li>
      <strong>Dark mode.</strong> Auto dark mode with a manual toggle. Hit that
      toggle button at the top of the page and see the mode change.
    </li>
    <li>
      <strong>Mobile first.</strong> Responsive and loads fast in all devices.
    </li>
    <li>
      <strong>Accessible.</strong> A well thought out semantic and accessible
      content.
    </li>
    <li>
      <strong>Perfect lighthouse score.</strong> 100 across the board.
    </li>
    <li>
      <strong>Content authoring for everyone.</strong> Author content using markdown
      (<code>.md</code>) from your code editor or directly in GitHub.
    </li>
    <li>
      <span>
        <strong>Extended markdown</strong> with 
        <a href="https://markdoc.dev">Markdoc</a>.
      </span>
      <span>
        Type-safe custom components like YouTube embed, Twitter embed (or
        anything you want really) in your markdown (<code>.md</code>) files.</span
      >
    </li>
    <li>
      Built-in <strong>RSS feed</strong> for your blog, excellent<strong>
        SEO</strong
      > and more.
    </li>
  </ul>

</div>
