---
---
<br><br>
<br><br>

<div>
  <section class="blog-post max-w-none prose-bubblegum">
  <!-- <section> -->
    <!-- <div style="display: flex; align-items: center;"> -->
      
    <span class="
          pl-6 relative block leading-[150%]
          after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-green
        ">
        <svg id="myPlot2" style="width:800px;"></svg>
        <strong>Participating in a CF process</strong><br> As a participant in a convergent facilitation process, you will be part of a collaborative decision-making effort that values your input and perspective. You will have the opportunity to share your needs and concerns openly, without fear of judgment or criticism. Together, you will work towards finding a creative solution that everyone can accept as their own.
        </span>

      <!-- </div> -->

      <p style="text-align: right;"> 
        <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:35%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-green dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>» Hear about others' experiences.</strong></span>
        </a>
      </p>
    
        <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-purple
          "><strong>Growing capacity to facilitate and integrate the principles</strong> <br> In our collaborative Convergent Facilitation learning community you are part of a supportive and inclusive group that values open communication and mutual respect. You are invited to share you learning needs and challenges as well as offer you experience and skills in our community space on Hylo. You can participate in peer-based practice groups and join experienced facilitators in real-life processes as apprentices.
        </span>

          <p style="text-align: right;"> 
      
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:30%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-purple to-primary-purple dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>»  Join our learning community</strong></span>
          </a>
        </p>

    <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-blue
          "><strong>Receiving support from an experienced CF facilitator</strong> <br> As a participant in a convergent facilitation process, you will be part of a collaborative decision-making effort that values your input and perspective. You will have the opportunity to share your needs and concerns openly, without fear of judgment or criticism. Together, you will work towards finding a creative solution that everyone can accept as their own.
        </span>

        <p style="text-align: right;"> 
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:60%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>» Reach out to get support</strong></span>
          </a>
        </p>

        <br><br>
    <span class="
            pl-6 relative block leading-[150%]
            after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-yellow
          "><strong>Joining us in creating the fertile soil for Convergent Facilitation to grow</strong> <br> We gift our time and energy to the stewarding the learning community gift – both the stewarding of this learning community as well as any facilitation support. To sustain ourselves financially
        </span>

        <p style="text-align: right;"> 
          <a class="unset rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:60%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow" href="blog"><span style="text-align: right"> <strong>» Learn how you can contribute</strong></span>
          </a>
        </p>
  </section>
    </div>


<script is:inline src="/src/scripts/participate.js"/>
