---
---

<div id="content">
  <h3
      class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
    <span class="
      pl-6 relative block leading-[150%]
      before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-yellow
    ">

Sign up for our newsletter      </span>
    </h3>

   
    <p>
      sign up form here with options to pick different kinds of newsletters – tell

    </p>

    <h3
    class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
  >
  <span class="
  pl-6 relative block leading-[150%]
  before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-yellow
">
Give to us      </span>
    </h3>

   
    <p>
      some text about how people can give to us

    </p>

    <h3
    class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
  >
  <h3
  class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
>
<span class="
pl-6 relative block leading-[150%]
before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-yellow
">
Join us in stewarding      </span>
  </h3>

 
  <p>
    some text about how people can give to us

  </p>

  <h3
  class="font-bold text-text-heading text-left text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
>





