---
---
<footer class="text-sm leading-[1.75] mt-4">
  <!-- <br>
  <br>
  <br> -->
<!-- <hr style="height:2px;border-width:0;color:gray;background-color:gray"> -->

  <p class="text-center overflow-auto">
    <!-- <code class="py-1 px-2"> </code> -->
    <a
    class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-bottom bg-[length:60%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
    href="/convergent-facilitation/contribute"
    
  >
    <span><strong>Sign up for our Newsletter</strong></span> 
  </a>
  <!-- <hr style='stroke:black'> -->
  <br> <br> 

  </p>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
