---
---
<html>
<style>
  .node {
stroke: #fff;
stroke-width: 1.5px;
}

.link {
stroke: #999;
stroke-opacity: .6;
}
sup {
  vertical-align: super;
  font-size: 20px;
}
</style>

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Convergent Facilitation 
      </span>
      <sup >[ CF ]</sup>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <br>
  <div>
    <p class="text-center overflow-auto" style="font-size: 20px;">
      <strong>Come together across differences and find creative and nuanced solutions that work for everyone within a facilitated decision making process.</strong>
      <!-- <br> <br>  -->
    </p>

  
  </div>

  <br> 

</div>
<!-- <section class="mb-8">
  <div class="mb-6"> -->

    </div>
    <div>
    <!-- <p class="mb-5">
      Convergent Facilitation (CF) is a facilitated decision making process that helps groups come together and find solutions that work for everyone, even when there are divergent opinions and perspectives. It is a collaborative approach that emphasizes listening, understanding and empowering everyone to care for the whole.
    </p> -->
  </div>
</section>
